@model IEnumerable<Berber.Models.Hizmet>

    @{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }

<h2>Hizmetler</h2>
<a href="@Url.Action("HizmetEkle", "Admin")" class="btn btn-primary">Yeni Hizmet Ekle</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Ücret</th>
            <th>Süre (Dakika)</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hizmet in Model)
        {
            <tr>
                <td>@hizmet.Ad</td>
                <td>@hizmet.Ucrt</td>
                <td>@hizmet.SrDk</td>
                <td>
                    <a href="@Url.Action("HizmetGuncelle", "Admin", new { id = hizmet.HizmetId })" class="btn btn-warning">Güncelle</a>
                    <a href="@Url.Action("HizmetSil", "Admin", new { id = hizmet.HizmetId })" class="btn btn-danger" onclick="return confirm('Hizmeti silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
