@model IEnumerable<Berber.Models.Randevu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RndvSt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calisan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hizmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kullanici)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RndvSt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calisan.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hizmet.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullanici.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RandevuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RandevuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RandevuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
